# Crypted credentials file
# Editing Crypted Credentials
# EDITOR="nano" rails credentials:edit

# Setup database security with protected credentials:
# username: <%= Rails.application.credentials.database[:username] %>
# password: <%= Rails.application.credentials.database[:password] %>

# !!! Avoid using same credentials for different environments, this will keep you away from exeucting things on the wrong server !!! 

# Environment: development

database:
  db_host: "pg_database"
  instance: "rails_base_dev"
  username: "rails user"
  password: "a password"

smtp:
  user_name: "service@my site.com"
  password: "my password"
  smtp_port: "465"
  mail_server: "smtp.my org.net"

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: 5d0f16d42584bf272e6955771e1375e186b2cb036fa67caf0f7dc42e4e079d3dbbe1dc42f85cd9fa920

##########################
# Other services examples#
##########################

# Sidekiq server
sidekiq:
  redis_url: "redis://localhost:6379/1"

# Integration
integration:
  web_server: "localhost"
  authentication_url: "https://identity.home.com"
  integration_user: "dev"
  integration_pass: "dev"
  integration_target: "https://sis-sms-a.app.home.com"
  integration_client: "https://sis-portal-a.app.home.com/stp/"

  # RabbitMQ: exchange = Sis-Collect-Abn, Queue = Key = Sis-Mediator.WorkflowEnd
  rabbitMQ_uri: "amqp://scheduler:1234@atlantica.com:31027/app"
  rabbitMQ_user: "scheduler"
  rabbitMQ_pass: "1234"
  exchange: "Sis-Collect-Abn"
  queueKey: "Sis-Mediator.WorkflowEnd"

