# Crypted credentials file
# Editing Crypted Credentials
# EDITOR="nano" rails credentials:edit

# Setup database security with protected credentials:
# username: <%= Rails.application.credentials.databases:development[:username] %>
# password: <%= Rails.application.credentials.databases:development[:password] %>
# schema_search_path: <%= "#{ Rails.application.credentials.databases:development[:schemas] }" %>


# Databases connections
databases:
  development:
    username: "myUser"
    password: "myPassword"
    schemas: "dq_app"


# Smtp settings
smtp:
  address: "ssl.atlantica.com"
  user_name: "service@home.com"
  password: "AnotherPassword"

# Sidekiq server
sidekiq:
  redis_url: "redis://localhost:6379/1"

# Integration
integration:
  web_server: "localhost"
  authentication_url: "https://identity-a.atlantica.com"
  integration_user: "dev"
  integration_pass: "dev"
  integration_target: "https://sis-sms-a.app.cfap02.atlantica.com"
  integration_client: "https://sis-portal-a.app.cfap02.atlantica.com/stp/"

  # RabbitMQ: exchange = Sis-Collect-Abn, Queue = Key = Sis-Mediator.WorkflowEnd
  rabbitMQ_uri: "amqp://scheduler:1234@osb-d92fba49-9dd.tcp-svc.ccp02.atlantica.com:31027/app"
  rabbitMQ_user: "scheduler"
  rabbitMQ_pass: "1234"
  exchange: "Sis-Collect-Abn"
  queueKey: "Sis-Mediator.WorkflowEnd"

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: 7989af78ab4ab6fc434c9246847112c2ad3019fb5af484300d6d5743108d91933bf79a7a9976b561814b3e15d01562e4d17c6bc379d94d1b5c8c3e87ee578869
