<header class="bg-emerald-700">
  <div class="mx-auto px-4 h-16 flex items-center border-2 border-solid rounded-sm border-emerald-400">
        <div id="brand" class="shrink-0 mx-4 border-2 border-solid rounded-sm border-blue-400">
          <%= image_tag($Logo, alt: "Back to home", class: "size-8") %>
        </div>
        <div id="environment" class="mx-4 border-2 border-solid rounded-sm border-white">
          <%= Rails.env.production? ? "" : "#{Rails.env.capitalize} " %>
        </div>      
        <div id="page-title" class="mx-4 border-2 border-solid rounded-sm border-yellow-400">
          Title of the page currently displayed: <%= yield(:page_heading || :title) %>
        </div>
        <div id="portal-navigation" class="mx-4 shrink-0 justify-self-end border-2 border-solid rounded-sm border-black">
          <nav>
            <ul>
              <li class="inline">1</li>
              <li class="inline">1</li>
              <li class="inline">1</li>
              <li class="inline">1</li>
              <li class="inline">1</li>
              <li class="inline">1</li>
            </ul>
          </nav>
        </div>

  </div>
</header>