<header class="bg-emerald-700 text-white rounded-sm">
  <div class="flex items-center h-16 mx-auto px-4 border-2 border-solid rounded-sm border-blue-400">
    <div id="brand" class="shrink-0 mx-4">
      <%= image_tag($Logo, alt: "Organisation", class: "h-12 w-full border-2 border-solid rounded-sm border-blue-400") %>
    </div>
    <div id="environment" class="mx-4 px-4 w-1/4 border-2 border-solid rounded-sm border-blue-400">
      <%= Rails.env.production? ? "" : "#{Rails.env.capitalize[0..2]} / " %>Object type
    </div>      
    <div id="page-title" class="mx-4 px-4 w-3/4 border-2 border-solid rounded-sm border-blue-400">
      Title of the page currently displayed: <%= yield(:title) %>
    </div>
    <nav id="portal-navigation" class="inline-grid grid-cols-6 gap-4 shrink-0 ml-auto border-2 border-solid rounded-sm border-blue-400">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
    </nav>
  </div>
</header>